*/__MACOSX
Assignments/Game_Of_Life/cs106x-hw1-life/build-cs106x-hw1-life-Desktop_Qt_5_11_2_MinGW_32bit-Debug
Assignments/cs106x-hw5-minibrowser/build-MiniBrowser-Desktop_Qt_5_11_2_MinGW_32bit-Debug
Assignments/cs106x-hw4-recursionrescue/build-cs106x-hw4-recursionrescue-Desktop_Qt_5_11_2_MinGW_32bit-Debug
Assignments/cs106x-hw3-recursion/cs106x-hw3-recursion/build-Fractals-Desktop_Qt_5_11_2_MinGW_32bit-Debug
Assignments/cs106x-hw3-recursion/cs106x-hw3-recursion/build-GrammarGenerator-Desktop_Qt_5_11_2_MinGW_32bit-Debug
Assignments/cs106x-hw3-recursion/cs106x-hw3-recursion/build-human-pyramid-Desktop_Qt_5_11_2_MinGW_32bit-Debug
Assignments/cs106x-hw2-adts/cs106x-hw2-adts/build-mazegenerator-Desktop_Qt_5_11_2_MinGW_32bit-Debug
Assignments/cs106x-hw2-adts/cs106x-hw2-adts/build-randomwriter-Desktop_Qt_5_11_2_MinGW_32bit-Debug
Assignments/cs106x-hw2-adts/cs106x-hw2-adts/build-wordladder-Desktop_Qt_5_11_2_MinGW_32bit-Debug
CS106BX-Reader.pdf